@media only screen and (max-width: 1366px){ 
  html{
font-size: 12px;
  }}
a{
    text-decoration: none;
    color: rgb(251, 251, 251);
}

.impact{
  font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif; 
}

.bold{
  font-weight: 900;
}





/* ===============NAV================= */
@media only screen and (min-width: 576px){ 
    
    .login{
        position: absolute;
        right: 15px;
    }
    
    .singup{
        position: absolute;
        right: 80px;
    }
}


/*=================INDEX-MAIN===================  */
.mainImg{
    left: 32vw;
    top: 10vh;
  }
  .left{
    background-color: #d7b700;
    width: 50vw;
    height: 85vh;
    text-align: right;
    padding-right: 19rem;
    
}
.title{
  font-size: 5rem; 
  font-weight: 900; 
  font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif; 
}
.right{
    background-color: rgb(27, 36, 37);
    width: 49.1vw;
    height: 85vh
    
}
.cube{
  width: 15vw;
  /* background-color: aqua; */
  border-radius: 15px;

}

.line{
  height: 3px;
  background-color: white;
  border-radius: 1px;
  width: 10vw;
  margin: auto;

}
.box{
  width: 30vw;
  height: 20vh;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.3); */
}


/*=================LOGIN===================  */
.loginForm{ 
  width: 50vw;
  background-color: white;
}
.loginForm input{ 
 width: 23vw;
 margin: auto;
 margin-bottom: 1rem;
}


/*=================NEW ARRIVAL===================  */
#newArrival{
  transition: 1s;
}

.cd-cover{
  width: 25vw;
  height: 25vw;
  background-color: white;
  background-size: cover;
  border-radius: 10px;
  z-index: 10;
  position: relative;
}

.cd{
  background-image: url(../img/cd.png);
  background-size: cover;
  width: 22vw;
  height: 22vw;
  background-color: rgb(27, 36, 37);
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 5vw;
  z-index: 1;
  transform-origin: 50% 50%;
  transition: 1s;
  /* animation-name: cd; */
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes cd {
  0%{

  }
  100%{
    transform: rotate(360deg);
  }
}

.owl-nav{

  transform: scale(1.5);
}
/*=================MARUQEE===================  */
.marquee {
    overflow: hidden;
    display: block;
  }
  
  
  .marquee::before,
  .marquee-small::before
   {
    display: block;
    white-space: pre;
    content: attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text) "   " attr(data-text);
    width: fit-content;
    transform: translate3d(-2%, 0, 0);
    will-change: transform;
  }

  @media (prefers-reduced-motion: no-preference) {
    .marquee::before {
      animation: marquee 6s reverse linear infinite;
    }
    .marquee-small::before {
      animation: marquee 6s reverse linear infinite;
    }
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(-2%, 0, 0);
    }
  
    100% {
      transform: translate3d(calc(-2% - 5% - 1px), 0, 0);
    }
  }
  
  .marquee {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: clamp(6rem, 10vh, 6rem);
    flex: 1;
    font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;;
    color: #d7b700;
  }

  .marquee-small {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: clamp(3rem, 5vh, 3rem);
    flex: 1;
    font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;;
    rotate: 5deg;
  }
  
  .marquee--mantis {
    position: relative;
    z-index: 100;
    background-color:  rgb(27, 36, 37);
  }
  .marquee--s {
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 100;
    rotate: 5deg;
  }



  /*=================FOOTER===================  */
footer{
  height: 50vh;
  background-color: rgb(27, 36, 37);
}